@font-face {
  font-family: "BaroqueScript";
  font-style: normal;
  font-weight: 400;
  src: url("./Baroque_Script/BaroqueScript.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Poiret One", cursive;
}

section,
footer,
.lower__footer {
  margin: 0 5vw;
}

section:first-of-type {
  margin: 0;
}

section {
  margin: 5rem 0;
}

::-webkit-scrollbar {
  background: #fff;
  width: 0.4vw;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #fc4958, #e85d04, #fc4958);
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  right: 0 !important;
}


